html {
  background-image: url('https://i.imgur.com/gvPDBsG.png');
  font-family: Andale Mono;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.658);
}

img {
  height: 160px;
  width: 270px;
  padding: 10px;
}
.input {
  height: 22px;
  width: 340px;
}
.add-form {
  padding: 10px;
  background-color: rgb(6, 37, 41);
  border-radius: 10px;
  margin: 10px;
  color: white;
}
.city-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-info:hover {
  background-color: rgb(6, 37, 41);
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
}
h1 {
  font-family: Andale Mono;
  color: rgba(255, 255, 255, 0.767);
  display: flex;
  justify-content: center;
  text-shadow: 3px ghostwhite;
  font-size: 50px;
}

h2 {
  font-family: Andale Mono;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.658);
  position: absolute;
}
.navbar {
  text-align: end;
  font-size: 20px;
  display: flex;
  justify-content: end;
  background-color: rgba(6, 37, 41, 0.836);
  padding: 14px;
}
a:hover {
  font-weight: bolder;
}

.about {
  text-align: center;
  text-transform: uppercase;
  font-family: Andale Mono;
  margin: 90px;
}

.resources-list {
  background-color: rgba(169, 169, 169, 0.671);
  border-radius: 8px;
  padding: 8px;
  margin-top: 150px;
}
.tips-list {
  background-color: rgba(169, 169, 169, 0.671);
  border-radius: 8px;
  padding: 10px;
  margin-left: 130px;
  margin-right: 130px;
  font-family: Andale Mono;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.tips-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xButton {
  display: flex;
  justify-content: end;
}

li {
  list-style: none;
}

li::before {
  content: '\00BB';
  padding-right: 10px;
}
