html {
  background-image: url('https://i.imgur.com/gvPDBsG.png');
  font-family: Andale Mono;
}

img {
  height: 150px;
  width: 250px;
  padding: 10px;
}
.input {
  height: 22px;
  width: 360px;
}
.add-form {
  padding: 10px;
  background-color: rgb(6, 37, 41);
  border-radius: 10px;
  margin: 10px;
  color: white;
}
.city-info {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Andale Mono;
}

.city-info:hover {
  background-color: rgba(51, 92, 51, 0.877);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
h1 {
  font-family: Andale Mono;
  color: white;

  text-align: center;
}
.navbar {
  font-size: xx-large;
  text-align: end;
  display: flex;
  justify-content: end;
  background-color: rgba(6, 37, 41, 0.644);
  padding: 14px;
}
a:hover {
  font-weight: bolder;
}
