html {
  background-color: pink;
  font: green;
  display: flex;
  font-family: Andale Mono;
}
img {
  height: 150px;
  width: 250px;
  padding: 10px;
}

.city-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Andale Mono;
}

h1 {
  font-family: Andale Mono;

  text-align: center;
}
.navbar {
  font-size: xx-large;
  text-align: end;
  display: flex;
  justify-content: space-between;
}
a:hover {
  font-weight: bolder;
}
