.city-info {
  padding: 10px;
  background-color: rgb(6, 37, 41);
  border-radius: 10px;
  margin: 10px;
  font: white;
}

p {
  color: white;
}
body {
  padding: 10px;
}

img {
  padding: 10px;
  border-radius: 10px;
}
