.city-info {
  padding: 10px;
  background-color: rgba(27, 46, 40, 0.911);
  border-radius: 5px;
  margin: 10px;
  font: white;
  display: flex;
  align-items: center;
}

p {
  color: white;
  text-transform: initial;
}
body {
  padding: 10px;
}

img {
  padding: 15px;
}

h1 {
  display: flex;
  align-items: center;
}
