.city-info {
  padding: 35px;
  background-color: rgba(6, 37, 41, 0.973);
  border-radius: 12px;
  margin: 10px;
  font: white;
  display: flex;
  align-items: center;
}

p {
  color: white;
  text-transform: initial;
  font-family: Andale Mono;
}
body {
  padding: 10px;
}

img {
  padding: 15px;
}

h1 {
  display: flex;
  align-items: center;
}
