.bucketlist-item {
  padding: 10px;
  background-color: rgb(6, 37, 41);
  border-radius: 10px;
  color: white;
  margin-right: 30px;
  list-style-position: inside;
  font-family: Andale Mono;
}

.button {
  padding: 5px;
  margin: 5px;
  align-items: flex-end;
  font-family: Andale Mono;
}

.button:hover {
  font-weight: bolder;
  background-color: rgba(70, 160, 62, 0.664);
}

.exp-item {
  background-color: rgba(43, 80, 43, 0.89);
  border-radius: 10px;
  margin: 4px;
  padding: 4px;
}

.update-form {
  width: 500px;
}

.add-form {
  font-family: Andale Mono;
}
