.bucketlist-item {
  padding: 20px;
  background-color: purple;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 10px;
  list-style-position: inside;
  font-family: Andale Mono;
}

.button {
  padding: 5px;
  margin: 5px;
  display: flex;
  font-family: Andale Mono;
}

.exp-item {
  background-color: powderblue;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.update-form {
  width: 500px;
}
