.bucketlist-item {
  padding: 0px;
  background-color: rgb(6, 37, 41);
  border-radius: 10px;
  color: white;
  list-style-position: outside;
  font-family: Andale Mono;
  font-style: italic;
}

.button {
  padding: 5px;
  margin: 5px;
  font-family: Andale Mono;
  text-transform: uppercase;
  margin-left: 15px;
  border-radius: 5px;
  border-style: double;
}

.xbutton {
  float: left;
  font-weight: bold;
  border-radius: 5px;
  border-style: double;
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-left: 7px;
}

.button:hover {
  font-weight: bolder;
  background-color: rgba(169, 231, 163, 0.664);
}
.xbutton:hover {
  font-weight: bolder;
  background-color: rgba(189, 0, 0, 0.774);
}

.exp-item {
  background-color: rgba(43, 80, 43, 0.89);
  border-radius: 10px;
  margin: 2px;
  display: flex;
  justify-content: stretch;
}

.update-form {
  width: 500px;
}

.add-form {
  font-family: Andale Mono;
}
